/* Message Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form>input {
  width: 50rem;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* Comment box + Button Row */
form>div {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  gap: 0px;
  width: 50rem
}

/* Button Row */
form>div>div {
  display: flex;
  justify-content: flex-end;
}

/* Posts */
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Individual Posts */
ul>li {
  list-style: none;
  border: 1px black solid;
  border-radius: 10px;
  width: 30rem;
}

/* Name & Date */
ul>li>div {
  display: flex;
  justify-content: space-between;
}